--swiftversion 5
--allman false
--beforemarks 
--binarygrouping none
--categorymark "MARK: %c"
--classthreshold 0
--closingparen same-line
--commas inline
--conflictmarkers reject
--decimalgrouping 3 
--elseposition same-line
--enumthreshold 0
--exponentcase lowercase
--exponentgrouping disabled
--fractiongrouping disabled
--fragment false
--funcattributes preserve
--guardelse auto
--header ignore
--hexgrouping none
--hexliteralcase uppercase
--ifdef indent
--importgrouping alphabetized
--indent 4
--indentcase false
--lifecycle 
--linebreaks lf
--maxwidth none
--modifierorder 
--nospaceoperators 
--nowrapoperators 
--octalgrouping none
--operatorfunc spaced
--patternlet inline
--ranges spaced
--self remove
--selfrequired 
--semicolons inline
--shortoptionals always
--smarttabs enabled
--stripunusedargs unnamed-only
--structthreshold 0
--tabwidth unspecified
--trailingclosures 
--trimwhitespace always
--typeattributes preserve
--varattributes preserve
--voidtype void
--wraparguments preserve
--wrapcollections before-first
--wrapparameters after-first
--disable wrapMultilineStatementBraces
--xcodeindentation enabled
--yodaswap always
